.table{
    border: 1px solid;
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
    border: 3px solid;
    text-align: left;
    padding: 15px;
}
th {
    color: #00155c;
}
.input{
    text-align: center;
    border: 1px solid;
    border-color: #00155c;
}
.column{
    flex: 25%;
}
.column2{
    flex: 70%;
}
.divrow {
    display: flex;
}
.container {
    border: 3px solid;
    color: #00155c;
}